.social-buttons{
    display: flex;
    gap: 10%;
    align-items: center;
    text-align: center;
    margin-left: 27%;
}
#fav-icons{
    font-size: 300%;
    transition: all 1s ease;
}
a{
    text-decoration: none;
}
.social-subheading{
    color: grey;
    font-weight: 700;
    padding: 1%;
    margin-top: 10%;
}
i:hover{ 
  transform: scale(1.3);
  opacity: 1;
  
}
